<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>
<body>
</body>
<!-- NOTE: To add a typescript script, put src/ in front of it -->
<!-- EXAMPLE: src="src/<name>.ts"-->
<!-- Add your game -->
<script src="/src/index.ts"></script>
</html>
